// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color:
          LightGray;
}

h1 {
  color:tomato;
  text-align: center;
}

p {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 20px;
}